@import url("./padrao.css");

.principal__div{
    background-color: #2E1462;
    display: flex;
    align-items: center;
}

.logo__inicial{
    width: 134px;
    padding: 1em;
    margin-left: 10em;
    background-color: var(--cor-branco);
    border-radius: 35px;
    border: solid 5px;
    border-color: #45FEFE;
}